@tailwind base;
@tailwind components;
@tailwind utilities;

/* fornumber inputs button */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for Firefox number inputs button */
input[type="number"] {
  -moz-appearance: textfield;
}
